.c-Section {
  flex: 1 1 25%;
  display: flex;
  min-width: 400px;
  margin: 20px;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 80px;

  &:last-child {
    min-width: auto;
    flex: 0 0 auto;
  }
}

.c-Section__title {
  background-color: #E8E8E8;
  border-radius: 10px;
  color: dp-color('accent');;
  font-size: 1.6em;
  margin-bottom: dp-spacing('large');
  padding: 10px 20px;
}

.c-Section__indicators {
  margin-bottom: dp-spacing('large');
  margin: -10px 0 20px -30px;
  padding: 0 10px;

  .c-Indicator {
    margin: 10px 0 0 30px;
  }
}